<h1 mat-dialog-title>Add value set(s)</h1>
<div mat-dialog-content>
  <div class="scroll-box-400">
    <app-generic-table-ssp #valueSetsTable
       [items]="valueSets"
       [totalItems]="totalItems"
       [detailsToShow]="detailsToShow"
       [pageSize]="pageSize"
       [allowSelect]="true"
       (onPageChange)="pageChange($event)"
       (onOrderChange)="onOrderChange($event)"
       (search)="onSearch($event)">
    </app-generic-table-ssp>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-flat-button color="accent" (click)="ok()">Ok</button>
  <button mat-flat-button (click)="cancel()">Cancel</button>
</div>
