<h1 mat-dialog-title>Add value set(s)</h1>
<div mat-dialog-content>
  <div class="scroll-box-400">
    <app-generic-table-ssp #valueSetsTable
                           [items]="valueSets"
                           [totalItems]="totalItems"
                           [detailsToShow]="detailsToShow"
                           [pageSize]="pageSize"
                           [allowSelect]="true"
                           (search)="onSearch($event)">
    </app-generic-table-ssp>
  </div>
  <br>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="ok()" cdkFocusInitial>Ok</button>
  <button mat-raised-button color="accent" (click)="cancel()" cdkFocusInitial>Cancel</button>
</div>
