<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="fad fa-file-export"></i>
    </div>
    <mat-card-title>Data sharing agreements</mat-card-title>
    <mat-card-subtitle>An overarching agreement between a set of publishers and subscribers</mat-card-subtitle>
    <div fxFlex></div>
  </mat-card-header>
  <mat-card-content>
    <app-generic-table #dsasTable
      [items]="dsas"
      [detailsToShow]="dsaDetailsToShow"
      [pageSize]="20"
      [allowSelect]="allowEdit"
      (clicked)="itemClicked($event)">
      <button role="selectionOnly" *ngIf="allowEdit" mat-icon-button color="warn" (click)="delete()"><mat-icon>delete</mat-icon></button>
      <button *ngIf="allowEdit" mat-icon-button color="primary" (click)="add()"><mat-icon>add</mat-icon></button>
    </app-generic-table>
  </mat-card-content>
</mat-card>
