<mat-card *ngIf="dpa">
  <mat-card-header>
    <div mat-card-avatar>
      <i class="fad fa-file-import"></i>
    </div>
    <mat-card-title>Data processing agreement details</mat-card-title>
    <mat-card-subtitle *ngIf="dpa.name">{{dpa.name}}</mat-card-subtitle>
    <mat-card-subtitle *ngIf="!dpa.name">New data processing agreement</mat-card-subtitle>
    <div fxFlex></div>
    <mat-menu #visualiseMenu="matMenu">
      <button *ngIf="allowEdit" [disabled]="!f.valid"  mat-menu-item (click)="save(false)">Save</button>
      <button *ngIf="allowEdit" [disabled]="!f.valid"  mat-menu-item (click)="save(true)">Save & close</button>
      <button mat-menu-item (click)="close()">Cancel</button>
    </mat-menu>
    <div fxLayoutAlign="center" class="mat-action" matRipple>
      <mat-icon [matMenuTriggerFor]="visualiseMenu">more_vert</mat-icon>
    </div>
  </mat-card-header>
  <mat-card-content>
    <form class="form" #f="ngForm" novalidate>
      <div class="form-group" #fgName="ngModelGroup" ngModelGroup="dpa" [class.has-error]="!fgName.valid">
        <div class="flex" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="16px grid" fxLayoutAlign="start">
          <mat-form-field appearance="outline" fxFlex="50" fxFill>
            <mat-label>Data processing agreement name</mat-label>
            <input required matInput [(ngModel)]="dpa.name" placeholder="Name" name="name">
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="50" fxFill>
            <mat-label>Description</mat-label>
            <input required matInput [(ngModel)]="dpa.description" placeholder="Description" name="description">
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="25" fxFill>
            <mat-label>Status</mat-label>
            <mat-select matInput name="status" [disabled]="disableStatus" [(ngModel)]="dpa.dsaStatusId" name="status">
              <mat-option *ngFor="let stat of status" [value]="stat.num">{{stat.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="25" fxFill>
            <mat-label>Data processor</mat-label>
            <input required matInput [(ngModel)]="processor" placeholder="Data processor" name="processor">
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="25" fxFill>
            <mat-label>Start date</mat-label>
            <input matInput type="date" [(ngModel)]="dpa.startDate" placeholder="Start date" name="startDate">
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="25" fxFill>
            <mat-label>End date</mat-label>
            <input matInput type="date" [(ngModel)]="dpa.endDate" placeholder="End date" name="endDate">
          </mat-form-field>
        </div>
        <br>
      </div>
    </form>
    <mat-tab-group dynamicHeight>
      <mat-tab>
        <ng-template mat-tab-label>
          <span matBadge="{{purposes?.length}}" matBadgeOverlap="false" [matBadgeHidden]="purposes?.length < 1">Purposes</span>
        </ng-template>
        <app-generic-table #purposesTable
                           [items]="purposes"
                           [detailsToShow]="purposesDetailsToShow"
                           [allowSelect]="allowEdit"
                           (clicked)="purposeClicked($event)">
          <button role="selectionOnly" *ngIf="allowEdit" mat-icon-button color="warn" (click)="deletePurposes()"><mat-icon>delete</mat-icon></button>
          <button *ngIf="allowEdit" mat-icon-button color="primary" (click)="addPurpose(-1)"><mat-icon>add</mat-icon></button>
        </app-generic-table>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <span matBadge="{{benefits?.length}}" matBadgeOverlap="false" [matBadgeHidden]="benefits?.length < 1">Benefits</span>
        </ng-template>
        <app-generic-table #benefitsTable
                           [items]="benefits"
                           [detailsToShow]="purposesDetailsToShow"
                           [allowSelect]="allowEdit"
                           (clicked)="benefitClicked($event)">
          <button role="selectionOnly" *ngIf="allowEdit" mat-icon-button color="warn" (click)="deleteBenefits()"><mat-icon>delete</mat-icon></button>
          <button *ngIf="allowEdit" mat-icon-button color="primary" (click)="addBenefit(-1)"><mat-icon>add</mat-icon></button>
        </app-generic-table>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <span matBadge="{{regions?.length}}" matBadgeOverlap="false" [matBadgeHidden]="regions?.length < 1">Regions</span>
        </ng-template>
        <app-generic-table #regionsTable
                           [items]="regions"
                           [detailsToShow]="regionsDetailsToShow"
                           [allowSelect]="allowEdit"
                           (clicked)="regionClicked($event)">
          <button role="selectionOnly" *ngIf="allowEdit" mat-icon-button color="warn" (click)="deleteRegions()"><mat-icon>delete</mat-icon></button>
          <button *ngIf="allowEdit" mat-icon-button color="primary" (click)="addRegion()"><mat-icon>add</mat-icon></button>
        </app-generic-table>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <span matBadge="{{publishers?.length}}" matBadgeOverlap="false" [matBadgeHidden]="publishers?.length < 1">Publishers</span>
        </ng-template>
        <app-generic-table #publishersTable
                           [items]="publishers"
                           [detailsToShow]="publishersDetailsToShow"
                           [allowSelect]="allowEdit"
                           (clicked)="publisherClicked($event)">
          <button role="selectionOnly" *ngIf="allowEdit" mat-icon-button color="warn" (click)="deletePublishers()"><mat-icon>delete</mat-icon></button>
          <button *ngIf="allowEdit" mat-icon-button color="primary" (click)="addPublisher()"><mat-icon>add</mat-icon></button>
        </app-generic-table>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <span matBadge="{{documentations?.length}}" matBadgeOverlap="false" [matBadgeHidden]="documentations?.length < 1">Documentations</span>
        </ng-template>
        <app-generic-table #documentationsTable
                           [items]="documentations"
                           [detailsToShow]="documentationsDetailsToShow"
                           [allowSelect]="allowEdit">
          <button role="selectionOnly" *ngIf="allowEdit" mat-icon-button color="warn" (click)="deleteDocumentations()"><mat-icon>delete</mat-icon></button>
          <button *ngIf="allowEdit" mat-icon-button color="primary" (click)="addDocumentation()"><mat-icon>add</mat-icon></button>
        </app-generic-table>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
