<h1 mat-dialog-title>Data set details</h1>
<div mat-dialog-content>
  <div class="flex" fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="start">
    <mat-form-field appearance="outline" fxFlex="50" fxFill>
      <mat-label>Data set name</mat-label>
      <input required matInput [(ngModel)]="dataset.name" placeholder="Name" name="name">
    </mat-form-field>
    <div></div>
    <mat-form-field appearance="outline" fxFlex="50" fxFill>
      <mat-label>Description</mat-label>
      <textarea matInput [(ngModel)]="dataset.description" placeholder="Description"
                name="description" rows="15">
            </textarea>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex="50" fxFill>
      <mat-label>Technical definition</mat-label>
      <textarea matInput [(ngModel)]="dataset.technicalDefinition" placeholder="Technical definition"
                name="definition" rows="15">
            </textarea>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button color="accent" (click)="cancel()">Cancel</button>
  <button mat-flat-button color="accent" (click)="ok()">Save Data Set</button>
</div>
