<h1 mat-dialog-title>Cohort details</h1>
<div mat-dialog-content>
  <div class="flex" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="16px grid" fxLayoutAlign="start">
    <div fxFlex="50" fxFill>
      <div class="flex" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="16px grid" fxLayoutAlign="start">
        <mat-form-field appearance="outline" fxFlex="100" fxFill>
          <mat-label>Cohort name</mat-label>
          <input required matInput maxlength="100" [(ngModel)]="cohort.name" placeholder="Cohort name" name="name">
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="100" fxFill>
          <mat-label>Description</mat-label>
          <textarea matInput rows="15" maxlength="10000" [(ngModel)]="cohort.description" placeholder="Cohort description"
                    name="description"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div fxFlex="50" fxFill>
      <div class="flex" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="16px grid" fxLayoutAlign="start">
        <mat-form-field appearance="outline" fxFlex="100" fxFill>
          <mat-label>Technical definition</mat-label>
          <textarea matInput style="height:300px" [(ngModel)]="cohort.technicalDefinition"
                    placeholder="Cohort technical definition" name="technicalDefinition"></textarea>
        </mat-form-field>
      </div>
    </div>
    <small class="required-field-note"></small>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button color="accent" (click)="cancel()">Cancel</button>
  <button mat-flat-button color="accent" [disabled]="((!cohort.name) || (cohort.name.length < 1))" (click)="ok()">Save cohort</button>
</div>
