<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>lightbulb_outline</mat-icon>
    </div>
    <mat-card-title>Add Cohort(s)</mat-card-title>
    <mat-card-subtitle>Select Cohort(s) to add</mat-card-subtitle>
    <div fxFlex></div>
  </mat-card-header>
  <mat-card-content>
    <div class="flex" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="16px grid" fxLayoutAlign="start">
      <mat-form-field appearance="outline" fxFlex="100" fxFill>
        <mat-label>Search</mat-label>
        <input matInput [(ngModel)]="searchData" (keyup.enter)="search($event.target.value)" placeholder="Search">
        <button mat-button *ngIf="searchData" matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <br>
    <div class="scroll-box-400">
      <app-generic-table #picker
                         [items]="searchResults"
                         [detailsToShow]="cohortDetailsToShow"
                         [allowSelect]="true">
      </app-generic-table>
    </div>
    <br>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="ok()" cdkFocusInitial>Ok</button>
    <button mat-raised-button color="accent" (click)="cancel()" cdkFocusInitial>Cancel</button>
  </mat-card-actions>
</mat-card>
