<mat-card>
  <mat-card-header>
    <div mat-card-avatar><mat-icon>lightbulb_outline</mat-icon></div>
    <mat-card-title>My agreements</mat-card-title>
    <mat-card-subtitle>Details of all agreements my organisation is involved in</mat-card-subtitle>
    <div fxFlex></div>
  </mat-card-header>
  <mat-card-content>
    <h2>Data sharing agreements publishing to</h2>
    <app-generic-table #dsaPubTable
                       [items]="dsaPublishing"
                       [detailsToShow]="dsaDetailsToShow"
                       [allowSelect]="false"
                       (clicked)="dsaClicked($event)">
    </app-generic-table>


    <h2>Data sharing agreements subscribing to</h2>
    <app-generic-table #dsaSubTable
                       [items]="dsaSubscribing"
                       [detailsToShow]="dsaDetailsToShow"
                       [allowSelect]="false"
                       (clicked)="dsaClicked($event)">
    </app-generic-table>


    <h2>Data processing agreements publishing to</h2>
    <app-generic-table #dpaPubTable
                       [items]="dpaPublishing"
                       [detailsToShow]="dpaDetailsToShow"
                       [allowSelect]="false"
                       (clicked)="dpaClicked($event)">
    </app-generic-table>
  </mat-card-content>
</mat-card>
