<table mat-table [dataSource]="items" class="mat-elevation-z8 mat-table-compact" *ngIf="items" fxFlex="100" fxFill>

  <ng-container *ngFor="let disCol of detailsToShow;" matColumnDef="{{disCol.property}}">
    <th mat-header-cell *matHeaderCellDef> {{disCol.label}}</th>
    <td mat-cell *matCellDef="let element"> {{element[disCol.property]}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="propertiesToShow"></tr>
  <tr mat-row *matRowDef="let row; columns: propertiesToShow;"
      [routerLink]="'/organisations/' + row.id"
  ></tr>
</table>
