<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i *ngIf="orgType==='Organisation'" class="fad fa-hospital"></i>
      <i *ngIf="orgType==='Service'" class="fad fa-clinic-medical"></i>
    </div>
    <mat-card-title>{{orgType}} details</mat-card-title>
    <mat-card-subtitle *ngIf="organisation.name">{{organisation.name}}</mat-card-subtitle>
    <mat-card-subtitle *ngIf="!organisation.name">New {{orgType}}</mat-card-subtitle>
    <div fxFlex></div>
    <div fxLayoutAlign="center" class="mat-action" matRipple (click)="editOrganisation()">
      <i class="fas fa-fw fa-pencil"></i>
    </div>
    <mat-menu #visualiseMenu="matMenu">
      <button *ngIf="(organisation.isService === 0) && (organisation.uuid) && (allowEdit)" mat-menu-item (click)="createServiceFromOrg()">Create service</button>
      <button mat-menu-item (click)="close()">Cancel</button>
    </mat-menu>
    <div fxLayoutAlign="center" class="mat-action" matRipple>
      <mat-icon [matMenuTriggerFor]="visualiseMenu">more_vert</mat-icon>
    </div>
  </mat-card-header>
  <mat-card-content>
    <form class="form" #f="ngForm" novalidate>
      <div class="form-group" #fgName="ngModelGroup" ngModelGroup="organisation" [class.has-error]="!fgName.valid">
        <div class="flex" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="16px grid" fxLayoutAlign="start">
          <mat-form-field appearance="outline" fxFlex="40" fxFill mat-readonly>
            <mat-label>{{orgType}} name</mat-label>
            <input required matInput [(ngModel)]="organisation.name" placeholder="{{orgType}} name" name="name" readonly>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="40" fxFill mat-readonly>
            <mat-label>Alternative name</mat-label>
            <input matInput [(ngModel)]="organisation.alternativeName" placeholder="Alternative name" name="alternativeName" readonly>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="20" fxFill mat-readonly>
            <mat-label>Date of registration</mat-label>
            <input matInput type="date" [(ngModel)]="organisation.dateOfRegistration" placeholder="Date Of registration" name="dateOfRegistration" readonly>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="20" fxFill mat-readonly>
            <mat-label>ODS code</mat-label>
            <input required matInput [(ngModel)]="organisation.odsCode" placeholder="ODS Code" name="odsCode" readonly>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="20" fxFill mat-readonly>
            <mat-label>ICO code</mat-label>
            <input matInput [(ngModel)]="organisation.icoCode" placeholder="ICO code" name="icoCode" readonly>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="40" mat-readonly>
            <mat-label>Organisation type</mat-label>
            <mat-select matInput name="status" [(ngModel)]="organisation.type" name="type" readonly>
              <mat-option *ngFor="let ot of organisationTypes" [value]="ot.id">{{ot.organisationType}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="20" fxFill mat-readonly>
            <mat-label>IG toolkit status</mat-label>
            <input matInput [(ngModel)]="organisation.igToolkitStatus" placeholder="IG toolkit status" name="igToolkitStatus" readonly>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="20" fxFill mat-readonly>
            <mat-label>System supplier</mat-label>
            <mat-select matInput name="systemSupplier" [(ngModel)]="organisation.systemSupplierSystemId" name="systemSupplierSystemId" readonly>
                <mat-option *ngFor="let sssids of systemSupplierSystems" [value]="sssids.num">{{sssids.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="20" fxFill mat-readonly>
            <mat-label>System supplier reference</mat-label>
            <input matInput [(ngModel)]="organisation.systemSupplierReference" placeholder="System supplier reference" name="systemSupplierReference" readonly>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="20" fxFill mat-readonly>
            <mat-label>System supplier sharing activated</mat-label>
            <mat-select matInput name="systemSupplierSharingActivated" [(ngModel)]="organisation.systemSupplierSharingActivated" name="systemSupplierSharingActivated" readonly>
              <mat-option *ngFor="let sssa of systemSupplierSharingActivated" [value]="sssa.num">{{sssa.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <br>
      </div>
    </form>

    <mat-tab-group dynamicHeight>
      <mat-tab *ngIf="organisation.isService === 0">
        <ng-template mat-tab-label>
          <span matBadge="{{addresses?.length}}" matBadgeOverlap="false" [matBadgeHidden]="addresses?.length < 1">Addresses</span>
        </ng-template>
        <app-generic-table #addressesTable
          [items]="addresses"
          [detailsToShow]="addressDetailsToShow"
          [allowSelect]="allowEdit"
          (clicked)="addressClicked($event)">
          <button role="selectionOnly" *ngIf="allowEdit && organisation.isService === 0" mat-icon-button color="warn" (click)="deleteAddress()"><mat-icon>delete</mat-icon></button>
          <button *ngIf="allowEdit && organisation.isService === 0" mat-icon-button color="primary" (click)="addAddress()"><mat-icon>add</mat-icon></button>
        </app-generic-table>
        <!--<mat-card *ngFor="let orgAddress of addresses; let index = index">
          <mat-card-content>
            <button *ngIf="allowEdit" mat-icon-button color="warn" (click)="deleteAddress(orgAddress)"><mat-icon>delete</mat-icon>Delete address</button>
            <div class="flex" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="16px grid" fxLayoutAlign="start">
              <mat-form-field appearance="outline" fxFlex="33" fxFill>
                <mat-label>Building name</mat-label>
                <input matInput [(ngModel)]="orgAddress.buildingName" placeholder="Building name" name="buildingName{{index}}">
              </mat-form-field>
              <mat-form-field appearance="outline" fxFlex="33" fxFill>
                <mat-label>Number and street</mat-label>
                <input matInput [(ngModel)]="orgAddress.numberAndStreet" placeholder="Number and street" name="numberAndStreet{{index}}">
              </mat-form-field>
              <mat-form-field appearance="outline" fxFlex="33" fxFill>
                <mat-label>Locality</mat-label>
                <input matInput [(ngModel)]="orgAddress.locality" placeholder="Locality" name="locality{{index}}">
              </mat-form-field>
              <mat-form-field appearance="outline" fxFlex="33" fxFill>
                <mat-label>City</mat-label>
                <input matInput [(ngModel)]="orgAddress.city" placeholder="City" name="city{{index}}">
              </mat-form-field>
              <mat-form-field appearance="outline" fxFlex="33" fxFill>
                <mat-label>County</mat-label>
                <input matInput [(ngModel)]="orgAddress.county" placeholder="County" name="county{{index}}">
              </mat-form-field>
              <mat-form-field appearance="outline" fxFlex="33" fxFill>
                <mat-label>Postcode</mat-label>
                <input matInput [(ngModel)]="orgAddress.postcode" placeholder="Postcode" name="postcode{{index}}">
              </mat-form-field>
            </div>
          </mat-card-content>
        </mat-card>-->
      </mat-tab>
      <mat-tab *ngIf="organisation.isService === 0">
        <ng-template mat-tab-label>
          <span matBadge="{{regions?.length}}" matBadgeOverlap="false" [matBadgeHidden]="regions?.length < 1">Regions</span>
        </ng-template>
        <app-generic-table #regionTable
          [items]="regions"
          [detailsToShow]="regionDetailsToShow"
          [allowSelect]="allowEdit">
          <button role="selectionOnly" *ngIf="allowEdit && organisation.isService === 0" mat-icon-button color="warn" (click)="deleteAddress()"><mat-icon>delete</mat-icon></button>
          <button *ngIf="allowEdit && organisation.isService === 0" mat-icon-button color="primary" (click)="addChildOrganisations()"><mat-icon>add</mat-icon></button>
        </app-generic-table>
      </mat-tab>
      <mat-tab *ngIf="organisation.isService === 0">
        <ng-template mat-tab-label>
          <span matBadge="{{dpaPublishing?.length}}" matBadgeOverlap="false" [matBadgeHidden]="dpaPublishing?.length < 1">DPA publishing to</span>
        </ng-template>
        <app-generic-table
          [items]="dpaPublishing"
          [detailsToShow]="dpaDetailsToShow"
          [allowSelect]="allowEdit"
          (clicked)="editDpa($event)">
          <button role="selectionOnly" *ngIf="allowEdit && organisation.isService === 0" mat-icon-button color="warn" (click)="deleteAddress($event)"><mat-icon>delete</mat-icon></button>
          <button *ngIf="allowEdit && organisation.isService === 0" mat-icon-button color="primary" (click)="addChildOrganisations()"><mat-icon>add</mat-icon></button>
        </app-generic-table>
      </mat-tab>
      <mat-tab *ngIf="organisation.isService === 0">
        <ng-template mat-tab-label>
          <span matBadge="{{dsaPublishing?.length}}" matBadgeOverlap="false" [matBadgeHidden]="dsaPublishing?.length < 1">DSA publishing to</span>
        </ng-template>
        <app-generic-table
          [items]="dsaPublishing"
          [detailsToShow]="dsaDetailsToShow"
          [allowSelect]="allowEdit">
          <button role="selectionOnly" *ngIf="allowEdit && organisation.isService === 0" mat-icon-button color="warn" (click)="deleteAddress($event)"><mat-icon>delete</mat-icon></button>
          <button *ngIf="allowEdit && organisation.isService === 0" mat-icon-button color="primary" (click)="addChildOrganisations()"><mat-icon>add</mat-icon></button></app-generic-table>
      </mat-tab>
      <mat-tab *ngIf="organisation.isService === 0">
        <ng-template mat-tab-label>
          <span matBadge="{{dsaSubscribing?.length}}" matBadgeOverlap="false" [matBadgeHidden]="dsaSubscribing?.length < 1">DSA subscribing to</span>
        </ng-template>
        <app-generic-table
          [items]="dsaSubscribing"
          [detailsToShow]="dsaDetailsToShow"
          [allowSelect]="allowEdit">
          <button role="selectionOnly" *ngIf="allowEdit && organisation.isService === 0" mat-icon-button color="warn" (click)="deleteAddress($event)"><mat-icon>delete</mat-icon></button>
          <button *ngIf="allowEdit && organisation.isService === 0" mat-icon-button color="primary" (click)="addChildOrganisations()"><mat-icon>add</mat-icon></button></app-generic-table>
      </mat-tab>
      <mat-tab *ngIf="organisation.isService === 0">
        <ng-template mat-tab-label>
          <span matBadge="{{childOrganisations?.length}}" matBadgeOverlap="false" [matBadgeHidden]="childOrganisations?.length < 1">Child organisations</span>
        </ng-template>
        <app-generic-table #childOrg
          [items]="childOrganisations"
          [detailsToShow]="orgDetailsToShow"
          [allowSelect]="allowEdit">
          <button role="selectionOnly" *ngIf="allowEdit && organisation.isService === 0" mat-icon-button color="warn" (click)="deleteAddress($event)"><mat-icon>delete</mat-icon></button>
          <button *ngIf="allowEdit && organisation.isService === 0" mat-icon-button color="primary" (click)="addChildOrganisations()"><mat-icon>add</mat-icon></button></app-generic-table>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <span matBadge="{{parentOrganisations?.length}}" matBadgeOverlap="false" [matBadgeHidden]="parentOrganisations?.length < 1">Parent organisations</span>
        </ng-template>
        <app-generic-table #parentOrg
          [items]="parentOrganisations"
          [detailsToShow]="orgDetailsToShow"
          [allowSelect]="allowEdit">
          <button role="selectionOnly" *ngIf="allowEdit && organisation.isService === 0" mat-icon-button color="warn" (click)="deleteAddress($event)"><mat-icon>delete</mat-icon></button>
          <button *ngIf="allowEdit && organisation.isService === 0" mat-icon-button color="primary" (click)="addParentOrganisations()"><mat-icon>add</mat-icon></button></app-generic-table>
      </mat-tab>
      <mat-tab *ngIf="organisation.isService === 0">
        <ng-template mat-tab-label>
          <span matBadge="{{services?.length}}" matBadgeOverlap="false" [matBadgeHidden]="services?.length < 1">Services</span>
        </ng-template>
        <app-generic-table
          [items]="services"
          [detailsToShow]="orgDetailsToShow"
          [allowSelect]="allowEdit">`1
          <button role="selectionOnly" *ngIf="allowEdit && organisation.isService === 0" mat-icon-button color="warn" (click)="deleteAddress($event)"><mat-icon>delete</mat-icon></button>
          <button *ngIf="allowEdit && organisation.isService === 0" mat-icon-button color="primary" (click)="addAddress()"><mat-icon>add</mat-icon></button>
        </app-generic-table>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>

