.toolbarCheckbox {
  margin-left: 25px;
}

.toolbarOptions {
  margin-right: 25px;
}

.mat-column-select {
  width: 5% !important;
}

tr.expanded-detail-row {
  height: 0;
}

tr.expanded-element-row:not(.expanded-row):active {
  background: #efefef;
}

.expanded-element-row td {
  border-bottom-width: 0;
}

.expanded-element-detail {
  overflow: hidden;
  display: flex;
  padding-left: 20px;
}

.expanded-element-description {
  padding: 16px;
}

.expanded-element-description-attribution {
  opacity: 0.5;
}
