<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="fad fa-globe-europe"></i>
    </div>
    <mat-card-title>Region details</mat-card-title>
    <mat-card-subtitle *ngIf="region.name">{{region.name}}</mat-card-subtitle>
    <mat-card-subtitle *ngIf="!region.name">New Region</mat-card-subtitle>
    <div fxFlex></div>
    <div fxLayoutAlign="center" class="mat-action" matRipple (click)="editRegion()">
      <i class="fas fa-fw fa-pencil"></i>
    </div>
    <mat-menu #visualiseMenu="matMenu">
      <button mat-menu-item (click)="close()">Cancel</button>
    </mat-menu>
    <div fxLayoutAlign="center" class="mat-action" matRipple>
      <mat-icon [matMenuTriggerFor]="visualiseMenu">more_vert</mat-icon>
    </div>
  </mat-card-header>
  <mat-card-content>
    <form class="form" #f="ngForm" novalidate>
      <div class="form-group" #fgName="ngModelGroup" ngModelGroup="organisation" [class.has-error]="!fgName.valid">
        <div class="flex" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="16px grid" fxLayoutAlign="start">
          <mat-form-field appearance="outline" fxFlex="50" fxFill mat-readonly>
            <mat-label>Region name</mat-label>
            <input required matInput [(ngModel)]="region.name" placeholder="Region name" name="name" readonly>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="50" fxFill mat-readonly>
            <mat-label>Description</mat-label>
            <input matInput [(ngModel)]="region.description" placeholder="Description" name="description" readonly>
          </mat-form-field>
        </div>
        <br>

      </div>
    </form>

    <mat-tab-group dynamicHeight>
      <mat-tab>
        <ng-template mat-tab-label>
          <span matBadge="{{sharingAgreements?.length}}" matBadgeOverlap="false" [matBadgeHidden]="sharingAgreements?.length < 1">Sharing agreements</span>
        </ng-template>
        <app-generic-table #dsaTable
          [items]="sharingAgreements"
          [detailsToShow]="sharingAgreementsDetailsToShow"
          [allowSelect]="allowEdit"
          (clicked)="sharingAgreementClicked($event)">
          <button role="selectionOnly" *ngIf="allowEdit" mat-icon-button color="warn" (click)="deleteDSAs()"><mat-icon>delete</mat-icon></button>
          <button *ngIf="allowEdit" mat-icon-button color="primary" (click)="addDSAs()"><mat-icon>add</mat-icon></button>
        </app-generic-table>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <span matBadge="{{processingAgreements?.length}}" matBadgeOverlap="false" [matBadgeHidden]="processingAgreements?.length < 1">Processing agreements</span>
        </ng-template>
        <app-generic-table #dpaTable
          [items]="processingAgreements"
          [detailsToShow]="processingAgreementsDetailsToShow"
          [allowSelect]="allowEdit"
          (clicked)="processingAgreementClicked($event)">
          <button role="selectionOnly" *ngIf="allowEdit" mat-icon-button color="warn" (click)="deleteDPAs()"><mat-icon>delete</mat-icon></button>
          <button *ngIf="allowEdit" mat-icon-button color="primary" (click)="addDPAs()"><mat-icon>add</mat-icon></button>
        </app-generic-table>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <span matBadge="{{parentRegions?.length}}" matBadgeOverlap="false" [matBadgeHidden]="parentRegions?.length < 1">Parent regions</span>
        </ng-template>
        <app-generic-table #parentRegionTable
          [items]="parentRegions"
          [detailsToShow]="regionDetailsToShow"
          [allowSelect]="allowEdit"
          (clicked)="regionClicked($event)">
          <button role="selectionOnly" *ngIf="allowEdit" mat-icon-button color="warn" (click)="deleteParentRegions()"><mat-icon>delete</mat-icon></button>
          <button *ngIf="allowEdit" mat-icon-button color="primary" (click)="addRegions(true)"><mat-icon>add</mat-icon></button>
        </app-generic-table>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <span matBadge="{{childRegions?.length}}" matBadgeOverlap="false" [matBadgeHidden]="childRegions?.length < 1">Child regions</span>
        </ng-template>
        <app-generic-table #childRegionTable
          [items]="childRegions"
          [detailsToShow]="regionDetailsToShow"
          [allowSelect]="allowEdit"
          (clicked)="regionClicked($event)">
          <button role="selectionOnly" *ngIf="allowEdit" mat-icon-button color="warn" (click)="deleteChildRegions()"><mat-icon>delete</mat-icon></button>
          <button *ngIf="allowEdit" mat-icon-button color="primary" (click)="addRegions(false)"><mat-icon>add</mat-icon></button>
        </app-generic-table>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <span matBadge="{{organisations?.length}}" matBadgeOverlap="false" [matBadgeHidden]="organisations?.length < 1">Organisations</span>
        </ng-template>
        <app-generic-table #orgTable
          [items]="organisations"
          [detailsToShow]="orgDetailsToShow"
          [allowSelect]="allowEdit"
          (clicked)="organisationClicked($event)">
          <button role="selectionOnly" *ngIf="allowEdit" mat-icon-button color="warn" (click)="deleteOrganisations()"><mat-icon>delete</mat-icon></button>
          <button *ngIf="allowEdit" mat-icon-button color="primary" (click)="addOrganisation()"><mat-icon>add</mat-icon></button>
        </app-generic-table>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>

