<div class="module">
  <div class="container-fluid">
    <div class="module-heading">
      Region details
      <div class="pull-right">
        <button *ngIf="allowEdit" [disabled]="!f.valid" type="button" class="btn btn-sm btn-success" (click)="save(false)">Save</button>
        <button *ngIf="allowEdit" [disabled]="!f.valid" type="button" class="btn btn-sm btn-warning" (click)="save(true)">Save & close</button>
        <button type="button" class="btn btn-sm btn-danger" (click)="close()">Cancel</button>
      </div>
    </div>
    <div class="module-body">
      <form class="form" #f="ngForm" novalidate>
        <div class="form-group" #fgName="ngModelGroup" ngModelGroup="region" [class.has-error]="!fgName.valid">
          <fieldset [disabled]="!allowEdit">
            <legend>Region</legend>
            <div class="row">
              <div class="form-group col-md-6">
                <label class="control-label required-field">Region name</label>
                <input required type="text" class="form-control" placeholder="Region name" [(ngModel)]="region.name" name="name">
                <small class="required-field-note"></small>
              </div>
              <div class="form-group col-md-6">
                <label class="control-label">Region description</label>
                <input type="text" class="form-control" placeholder="Region description" [(ngModel)]="region.description" name="description">
              </div>
            </div>
          </fieldset>
        </div>

        <ngb-tabset>
          <ngb-tab>
            <ng-template ngbTabTitle><span class="tab-title">Sharing agreements </span><span class="badge badge-pill badge-primary">{{sharingAgreements?.length}}</span></ng-template>
            <ng-template ngbTabContent>
              <entity-viewer
                (onshowPicker)="editSharingAgreements()"
                [items]="sharingAgreements"
                [primary]="'name'"
                [primaryOrderText]="'Name'"
                [displayClass]="'region'"
                [secondary]="'description'"
                [secondaryOrderText]="'Description'"
                [typeDescription]="'Sharing agreement'"
                [model]="'dsa'"
                [detailsToShow]="sharingAgreementsDetailsToShow"
                [allowEdit]="allowEdit"
                [showEditButton]="allowEdit">
              </entity-viewer>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle><span class="tab-title">Processing agreements </span><span class="badge badge-pill badge-primary">{{processingAgreements?.length}}</span></ng-template>
            <ng-template ngbTabContent>
              <entity-viewer
                (onshowPicker)="editProcessingAgreements()"
                [items]="processingAgreements"
                [primary]="'name'"
                [primaryOrderText]="'Name'"
                [displayClass]="'region'"
                [secondary]="'description'"
                [secondaryOrderText]="'Description'"
                [typeDescription]="'Processing agreement'"
                [model]="'dpa'"
                [detailsToShow]="processingAgreementsDetailsToShow"
                [allowEdit]="allowEdit"
                [showEditButton]="allowEdit">
              </entity-viewer>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle><span class="tab-title">Parent regions </span><span class="badge badge-pill badge-primary">{{parentRegions?.length}}</span></ng-template>
            <ng-template ngbTabContent>
              <entity-viewer
                (onshowPicker)="editParentRegions()"
                [items]="parentRegions"
                [primary]="'name'"
                [primaryOrderText]="'Name'"
                [displayClass]="'region'"
                [secondary]="'description'"
                [secondaryOrderText]="'Description'"
                [typeDescription]="'Parent region'"
                [model]="'region'"
                [detailsToShow]="regionDetailsToShow"
                [allowEdit]="allowEdit"
                [showEditButton]="allowEdit">
              </entity-viewer>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle><span class="tab-title">Child regions </span><span class="badge badge-pill badge-primary">{{childRegions?.length}}</span></ng-template>
            <ng-template ngbTabContent>
              <entity-viewer
                (onshowPicker)="editChildRegions()"
                [items]="childRegions"
                [primary]="'name'"
                [primaryOrderText]="'Name'"
                [displayClass]="'region'"
                [secondary]="'description'"
                [secondaryOrderText]="'Description'"
                [typeDescription]="'Child region'"
                [model]="'region'"
                [detailsToShow]="regionDetailsToShow"
                [allowEdit]="allowEdit"
                [showEditButton]="allowEdit">
              </entity-viewer>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle><span class="tab-title">Organisation </span><span class="badge badge-pill badge-primary">{{organisations?.length}}</span></ng-template>
            <ng-template ngbTabContent>
              <entity-viewer
                (onshowPicker)="editOrganisations()"
                [items]="organisations"
                [primary]="'name'"
                [primaryOrderText]="'Name'"
                [displayClass]="'region'"
                [secondary]="'odsCode'"
                [secondaryOrderText]="'ODS Code'"
                [typeDescription]="'Organisation'"
                [model]="'organisation'"
                [pageSize]="12"
                [detailsToShow]="orgDetailsToShow"
                [allowEdit]="allowEdit"
                [showEditButton]="allowEdit">
              </entity-viewer>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
        <br/>
        <eds-google-maps
          [markers]="markers">
        </eds-google-maps>
        <br>
        <br>
      </form>
    </div>
  </div>
</div>
