<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="fad fa-file-export"></i>
    </div>
    <mat-card-title>Data sharing agreement details</mat-card-title>
    <mat-card-subtitle *ngIf="dsa.name">{{dsa.name}}</mat-card-subtitle>
    <mat-card-subtitle *ngIf="!dsa.name">New data sharing agreement</mat-card-subtitle>
    <div fxFlex></div>
    <div fxLayoutAlign="center" class="mat-action" matRipple (click)="editDSA()">
      <i class="fas fa-fw fa-pencil"></i>
    </div>
  </mat-card-header>
  <mat-card-content>
    <form class="form" #f="ngForm" novalidate>
      <div class="form-group" #fgName="ngModelGroup" ngModelGroup="dsa" [class.has-error]="!fgName.valid">
        <div class="flex" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="16px grid" fxLayoutAlign="start">
          <mat-form-field appearance="outline" fxFlex="50" fxFill mat-readonly>
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="dsa.name" placeholder="Name" name="name" readonly>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="50" fxFill mat-readonly>
            <mat-label>Description</mat-label>
            <input matInput [(ngModel)]="dsa.description" placeholder="Description" name="description" readonly>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="25" fxFill mat-readonly>
            <mat-label>Status</mat-label>
            <input matInput (ngModel)="statuses[dsa?.dsaStatusId].name" placeholder="Status" name="status" readonly>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="25" fxFill mat-readonly>
            <mat-label>Consent model</mat-label>
            <input matInput (ngModel)="consents[dsa?.consentModelId].name" placeholder="Consent model" name="consentModel" readonly>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="25" fxFill mat-readonly>
            <mat-label>Start date</mat-label>
            <input matInput type="date" [(ngModel)]="dsa.startDate" placeholder="Start Date" name="startDate" readonly>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="25" fxFill mat-readonly>
            <mat-label>End date</mat-label>
            <input matInput type="date" [(ngModel)]="dsa.endDate" placeholder="End Date" name="endDate" readonly>
          </mat-form-field>
        </div>
        <br>
      </div>
    </form>
    <mat-tab-group dynamicHeight>
      <mat-tab>
        <ng-template mat-tab-label>
          <span matBadge="{{purposes?.length}}" matBadgeOverlap="false" [matBadgeHidden]="purposes?.length < 1">Purposes</span>
        </ng-template>
        <app-generic-table #purposesTable
                           [items]="purposes"
                           [detailsToShow]="purposeDetailsToShow"
                           [allowSelect]="allowEdit"
                           (clicked)="purposeClicked($event)">
          <button role="selectionOnly" *ngIf="allowEdit" mat-icon-button color="warn" (click)="deletePurposes()"><mat-icon>delete</mat-icon></button>
          <button *ngIf="allowEdit" mat-icon-button color="primary" (click)="addPurpose(-1)"><mat-icon>add</mat-icon></button>
        </app-generic-table>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <span matBadge="{{benefits?.length}}" matBadgeOverlap="false" [matBadgeHidden]="benefits?.length < 1">Benefits</span>
        </ng-template>
        <app-generic-table #benefitsTable
                           [items]="benefits"
                           [detailsToShow]="benefitDetailsToShow"
                           [allowSelect]="allowEdit"
                           (clicked)="benefitClicked($event)">
          <button role="selectionOnly" *ngIf="allowEdit" mat-icon-button color="warn" (click)="deleteBenefits()"><mat-icon>delete</mat-icon></button>
          <button *ngIf="allowEdit" mat-icon-button color="primary" (click)="addBenefit(-1)"><mat-icon>add</mat-icon></button>
        </app-generic-table>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <span matBadge="{{regions?.length}}" matBadgeOverlap="false" [matBadgeHidden]="regions?.length < 1">Regions</span>
        </ng-template>
        <app-generic-table #regionsTable
                           [items]="regions"
                           [detailsToShow]="regionDetailsToShow"
                           [allowSelect]="allowEdit"
                           (clicked)="regionClicked($event)">
          <button role="selectionOnly" *ngIf="allowEdit" mat-icon-button color="warn" (click)="deleteRegions()"><mat-icon>delete</mat-icon></button>
          <button *ngIf="allowEdit" mat-icon-button color="primary" (click)="addRegion()"><mat-icon>add</mat-icon></button>
        </app-generic-table>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <span matBadge="{{projects?.length}}" matBadgeOverlap="false" [matBadgeHidden]="projects?.length < 1">Projects</span>
        </ng-template>
        <app-generic-table #projectsTable
                           [items]="projects"
                           [detailsToShow]="projectDetailsToShow"
                           [allowSelect]="allowEdit"
                           (clicked)="projectClicked($event)">
          <button role="selectionOnly" *ngIf="allowEdit" mat-icon-button color="warn" (click)="deleteProjects()"><mat-icon>delete</mat-icon></button>
          <button *ngIf="allowEdit" mat-icon-button color="primary" (click)="addProject()"><mat-icon>add</mat-icon></button>
        </app-generic-table>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <span matBadge="{{publishers?.length}}" matBadgeOverlap="false" [matBadgeHidden]="publishers?.length < 1">Publishers</span>
        </ng-template>
        <app-generic-table #publishersTable
                           [items]="publishers"
                           [detailsToShow]="publisherDetailsToShow"
                           [allowSelect]="allowEdit"
                           (clicked)="publisherClicked($event)">
          <button role="selectionOnly" *ngIf="allowEdit" mat-icon-button color="warn" (click)="deletePublishers()"><mat-icon>delete</mat-icon></button>
          <button *ngIf="allowEdit" mat-icon-button color="primary" (click)="addPublisher()"><mat-icon>add</mat-icon></button>
          <button mat-icon-button color="primary" (click)="showPublishers()"><mat-icon>map</mat-icon></button>
        </app-generic-table>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <span matBadge="{{subscribers?.length}}" matBadgeOverlap="false" [matBadgeHidden]="subscribers?.length < 1">Subscribers</span>
        </ng-template>
        <app-generic-table #subscribersTable
                           [items]="subscribers"
                           [detailsToShow]="subscriberDetailsToShow"
                           [allowSelect]="allowEdit"
                           (clicked)="subscriberClicked($event)">
          <button role="selectionOnly" *ngIf="allowEdit" mat-icon-button color="warn" (click)="deleteSubscribers()"><mat-icon>delete</mat-icon></button>
          <button *ngIf="allowEdit" mat-icon-button color="primary" (click)="addSubscriber()"><mat-icon>add</mat-icon></button>
          <button mat-icon-button color="primary" (click)="showSubscribers()"><mat-icon>map</mat-icon></button>
        </app-generic-table>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <span matBadge="{{documentations?.length}}" matBadgeOverlap="false" [matBadgeHidden]="documentations?.length < 1">Documentation</span>
        </ng-template>
        <app-generic-table #documentationsTable
                           [items]="documentations"
                           [detailsToShow]="documentDetailsToShow"
                           [allowSelect]="allowEdit"
                           (clicked)="documentationClicked($event)">
          <button role="selectionOnly" *ngIf="allowEdit" mat-icon-button color="warn" (click)="deleteDocumentations()"><mat-icon>delete</mat-icon></button>
          <button *ngIf="allowEdit" mat-icon-button color="primary" (click)="addDocumentation()"><mat-icon>add</mat-icon></button>
        </app-generic-table>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <span matBadge="{{cohorts?.length}}" matBadgeOverlap="false" [matBadgeHidden]="cohorts?.length < 1">Cohorts</span>
        </ng-template>
        <app-generic-table #cohortTable
                           [items]="cohorts"
                           [detailsToShow]="cohortDetailsToShow"
                           [allowSelect]="allowEdit"
                           (clicked)="cohortClicked($event)">
          <button role="selectionOnly" *ngIf="allowEdit" mat-icon-button color="warn" (click)="deleteCohorts()"><mat-icon>delete</mat-icon></button>
          <button *ngIf="allowEdit" mat-icon-button color="primary" (click)="addCohorts()"><mat-icon>add</mat-icon></button>
        </app-generic-table>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <span matBadge="{{dataSets?.length}}" matBadgeOverlap="false" [matBadgeHidden]="dataSets?.length < 1">Data sets</span>
        </ng-template>
        <app-generic-table #dataSetTable
                           [items]="dataSets"
                           [detailsToShow]="dataSetDetailsToShow"
                           [allowSelect]="allowEdit"
                           (clicked)="dataSetClicked($event)">
          <button role="selectionOnly" *ngIf="allowEdit" mat-icon-button color="warn" (click)="deleteDataSets()"><mat-icon>delete</mat-icon></button>
          <button *ngIf="allowEdit" mat-icon-button color="primary" (click)="addDataSets()"><mat-icon>add</mat-icon></button>
        </app-generic-table>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
