<div class="module">
  <div class="container-fluid">
    <div class="module-heading">
      Project details
      <div class="pull-right">
        <button *ngIf="allowEdit" type="button" class="btn btn-sm btn-success" (click)="save(false)">Save</button>
        <button *ngIf="allowEdit" type="button" class="btn btn-sm btn-warning" (click)="save(true)">Save & close</button>
        <button type="button" class="btn btn-sm btn-danger" (click)="close()">Cancel</button>
      </div>
    </div>
    <div class="module-body">
      <form>
        <fieldset [disabled]="!allowEdit">
          <legend>Project</legend>
          <div class="row">
            <div class="form-group col-md-6">
              <label class="control-label">Project name</label>
              <input type="text" class="form-control" placeholder="Project name" [(ngModel)]="project.name" name="name">
            </div>
            <div class="form-group col-md-6">
              <label class="control-label">Business case</label>
              <select class="form-control" [(ngModel)]="project.businessCaseStatus" name="businessCaseStatus">
                <option *ngFor="let bs of businessCaseStatuses" [ngValue]="bs.num">{{bs.name}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label class="control-label">Summary</label>
              <textarea rows="6" class="form-control" placeholder="Summary" [(ngModel)]="project.summary" name="summary"></textarea>
            </div>
            <div class="form-group col-md-6">
              <label class="control-label">Objectives</label>
              <textarea rows="6" class="form-control" placeholder="Objectives" [(ngModel)]="project.objectives" name="objectives"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label class="control-label">Project lead</label>
              <div class="input-group">
                <select class="form-control" [(ngModel)]="project.leadUser" name="leadUser">
                  <option *ngFor="let leadUser of userList" [ngValue]="leadUser.uuid">{{leadUser.forename}} {{leadUser.surname}}</option>
                </select>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="control-label">Project technical lead</label>
              <div class="input-group">
                <select class="form-control" [(ngModel)]="project.technicalLeadUser" name="technicalLeadUser">
                  <option *ngFor="let techUser of userList" [ngValue]="techUser.uuid">{{techUser.forename}} {{techUser.surname}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label class="control-label">Storage protocol</label>
              <div class="input-group">
                <select class="form-control" [(ngModel)]="project.storageProtocolId" name="storageProtocolId">
                  <option *ngFor="let sps of storageProtocols" [ngValue]="sps.num">{{sps.name}}</option>
                </select>
              </div>
            </div>

            <div class="form-group col-md-4">
              <label class="control-label">Patient consent model</label>
              <div class="input-group">
                <select class="form-control" [(ngModel)]="project.consentModelId" name="consentModel">
                  <option *ngFor="let con of consents" [ngValue]="con.num">{{con.name}}</option>
                </select>
              </div>
            </div>

            <div class="form-group col-md-4">
              <label class="control-label">De-identification level</label>
              <div class="input-group">
                <select class="form-control" [(ngModel)]="project.deidentificationLevel" name="deIdentificationLevel">
                  <option *ngFor="let did of deidentificationLevel" [ngValue]="did.num">{{did.name}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label class="control-label">Project type</label>
              <div class="input-group">
                <select class="form-control" [(ngModel)]="project.projectTypeId" name="projectTypeId">
                  <option *ngFor="let proj of projectTypes" [ngValue]="proj.num">{{proj.name}}</option>
                </select>
              </div>
            </div>

            <div class="form-group col-md-4">
              <label class="control-label">Frequency</label>
              <div class="input-group">
                <select class="form-control" [(ngModel)]="project.flowScheduleId" name="flowScheduleId">
                  <option *ngFor="let fs of flowScheduleIds" [ngValue]="fs.num">{{fs.name}}</option>
                </select>
              </div>
            </div>

            <div class="form-group col-md-4">
              <label class="control-label">Output Format</label>
              <div class="input-group">
                <select class="form-control" [(ngModel)]="project.flowScheduleId" name="flowScheduleId">
                  <option *ngFor="let fs of outputFormat" [ngValue]="fs.num">{{fs.name}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label class="control-label">IP address</label>
              <input type="text" class="form-control" placeholder="IP address" [(ngModel)]="project.ipAddress" name="ipAddress">
            </div>

            <div class="form-group col-md-4">
              <label class="control-label">Security infrastructure Id</label>
              <div class="input-group">
                <select class="form-control" [(ngModel)]="project.securityInfrastructureId" name="securityInfrastructureId">
                  <option *ngFor="let sec of securityInfrastructures" [ngValue]="sec.num">{{sec.name}}</option>
                </select>
              </div>
            </div>

            <div class="form-group col-md-4">
              <label class="control-label">Security architecture Id</label>
              <div class="input-group">
                <select class="form-control" [(ngModel)]="project.securityArchitectureId" name="securityArchitectureId">
                  <option *ngFor="let arc of securityArchitectures" [ngValue]="arc.num">{{arc.name}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label class="control-label required-field">Status</label>
              <div class="input-group">
                <select required [disabled]="disableStatus" class="form-control" [(ngModel)]="project.projectStatusId" name="projectStatusId">
                  <option *ngFor="let st of status" [ngValue]="st.num">{{st.name}}</option>
                </select>
              </div>
              <small class="required-field-note"></small>
            </div>
            <div class="form-group col-md-4">
              <label class="control-label">Start date</label>
              <input type="date" class="form-control" placeholder="Start date" [(ngModel)]="project.startDate" name="startDate">
            </div>
            <div class="form-group col-md-4">
              <label class="control-label">End date</label>
              <input type="date" class="form-control" placeholder="End date" [(ngModel)]="project.endDate" name="endDate" (change)="checkEndDate()">
            </div>
          </div>
        </fieldset>

        <ngb-tabset #links>
          <ngb-tab>
            <ng-template ngbTabTitle><span class="tab-title">Data sharing agreements </span><span class="badge badge-pill badge-primary">{{dsas?.length}}</span></ng-template>
            <ng-template ngbTabContent>
              <entity-viewer
                (onshowPicker)="editDataSharingAgreements()"
                [items]="dsas"
                [primary]="'name'"
                [primaryOrderText]="'Name'"
                [displayClass]="'region'"
                [secondary]="'description'"
                [secondaryOrderText]="'Description'"
                [typeDescription]="'Data sharing agreement'"
                [model]="'dsa'"
                [detailsToShow]="dsaDetailsToShow"
                [allowEdit]="allowEdit"
                [showEditButton]="allowEdit">
              </entity-viewer>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle><span class="tab-title">Publishers </span><span class="badge badge-pill badge-primary">{{publishers?.length}}</span></ng-template>
            <ng-template ngbTabContent>
              <entity-viewer
                (onshowPicker)="editPublishers()"
                [items]="publishers"
                [primary]="'name'"
                [primaryOrderText]="'Name'"
                [displayClass]="'region'"
                [secondary]="'odsCode'"
                [secondaryOrderText]="'ODS Code'"
                [typeDescription]="'Publisher'"
                [model]="'organisation'"
                [detailsToShow]="OrganisationDetailsToShow"
                [allowEdit]="allowEdit"
                [showEditButton]="allowEdit">
              </entity-viewer>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle><span class="tab-title">Subscribers </span><span class="badge badge-pill badge-primary">{{subscribers?.length}}</span></ng-template>
            <ng-template ngbTabContent>
              <entity-viewer
                (onshowPicker)="editSubscribers()"
                [items]="subscribers"
                [primary]="'name'"
                [primaryOrderText]="'Name'"
                [displayClass]="'region'"
                [secondary]="'odsCode'"
                [secondaryOrderText]="'ODS Code'"
                [typeDescription]="'Subscriber'"
                [model]="'organisation'"
                [detailsToShow]="OrganisationDetailsToShow"
                [allowEdit]="allowEdit"
                [showEditButton]="allowEdit">
              </entity-viewer>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle><span class="tab-title">Cohort </span><span class="badge badge-pill badge-primary">{{basePopulation?.length}}</span></ng-template>
            <ng-template ngbTabContent>
              <entity-viewer
                (onshowPicker)="editBasePopulations()"
                [items]="basePopulation"
                [primary]="'name'"
                [primaryOrderText]="'Name'"
                [displayClass]="'region'"
                [secondary]="'description'"
                [secondaryOrderText]="'Description'"
                [typeDescription]="'Cohort'"
                [model]="'cohort'"
                [detailsToShow]="cohortDetailsToShow"
                [allowEdit]="allowEdit"
                [showEditButton]="allowEdit">
              </entity-viewer>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle><span class="tab-title">Data sets </span><span class="badge badge-pill badge-primary">{{dataSet?.length}}</span></ng-template>
            <ng-template ngbTabContent>
              <entity-viewer
                (onshowPicker)="editDataSets()"
                [items]="dataSet"
                [primary]="'name'"
                [primaryOrderText]="'Name'"
                [displayClass]="'region'"
                [secondary]="'description'"
                [secondaryOrderText]="'Description'"
                [typeDescription]="'Data set'"
                [model]="'dataSet'"
                [detailsToShow]="dataSetDetailsToShow"
                [allowEdit]="allowEdit"
                [showEditButton]="allowEdit">
              </entity-viewer>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle><span class="tab-title">Authority to share </span></ng-template>
            <ng-template ngbTabContent>
              <div *ngIf="authToShare.length == 0" class="row">
                <div class="col-md-12">
                  <p>There are no users assigned to this project</p>
                </div>
              </div>
              <div *ngIf="authToShare.length > 0"  class="row">
                <div class="col-md-12">
                  <ng-container *ngTemplateOutlet="authtabset"></ng-container>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle><span class="tab-title">Application policy </span></ng-template>
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label">Application policy</label>
                    <select class="form-control" [(ngModel)]="selectedApplicationPolicy" name="selectedApplicationPolicy" (change)="changeUserApplicationPolicy(selectedApplicationPolicy.id)">
                      <option *ngFor="let pol of availablePolicies" [ngValue]="pol">{{pol.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>

        <ng-template #authtabset>
          <ngb-tabset #auths>
            <ngb-tab *ngFor="let org of authToShare" title="{{org.organisationName}}">
              <ng-template ngbTabContent>
                <div class="card">
                  <div class="card-body">
                    <div *ngFor="let user of org.users" class="row">
                      <div class="col-md-12">
                        {{user.forename}} {{user.surname}} ({{user.username}})
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </ng-template>
      </form>
      <br>
      <br>
    </div>
  </div>
</div>
