<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <i class="fad fa-users-class"></i>
    </div>
    <mat-card-title>Cohorts</mat-card-title>
    <mat-card-subtitle>A criteria for the selection of patients relating to a project</mat-card-subtitle>
    <div fxFlex></div>
  </mat-card-header>
  <mat-card-content>
      <app-generic-table #cohortsTable
        [items]="cohorts"
        [detailsToShow]="cohortDetailsToShow"
        [pageSize]="20"
        [allowSelect]="allowEdit"
        (clicked)="itemClicked($event)">
        <button role="selectionOnly" *ngIf="allowEdit" mat-icon-button color="warn" (click)="delete()"><mat-icon>delete</mat-icon></button>
        <button *ngIf="allowEdit" mat-icon-button color="primary" (click)="add()"><mat-icon>add</mat-icon></button>
      </app-generic-table>
  </mat-card-content>
</mat-card>
