<div class="module">
  <div class="container-fluid">
    <div class="module-heading">
      Overview
    </div>
    <div class="module-body">
      <div class="row">
        <div class="col-md-6">
          <div class="card h-100">
            <div class="card-header text-white">
              Regions
              <div class="pull-right">
                <button *ngIf="!allowEdit" type="button" class="btn btn-sm btn-info" (click)="goToRegions()">View regions</button>
                <button *ngIf="allowEdit" type="button" class="btn btn-sm btn-success" (click)="goToRegions()">Edit regions</button>
              </div>

            </div>
            <div class="card-body">
              <loadingIndicator [done]="regionLoadingComplete">
                <div class="row" *ngFor="let regionStat of regionStats">
                  <div class="col-md-10">
                    {{regionStat.label}}
                  </div>
                  <div class="col-md-2">
                    {{regionStat.value}}
                  </div>
                </div>
              </loadingIndicator>
              <br>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card h-100">
            <div class="card-header text-white">
              Organisations
              <div class="pull-right">
                <button *ngIf="allowConfig" type="button" class="btn btn-sm btn-success" (click)="goToConfig()">Bulk upload organisations</button>
                <button *ngIf="!allowEdit" type="button" class="btn btn-sm btn-info" (click)="goToOrganisations()">View organisations</button>
                <button *ngIf="allowEdit" type="button" class="btn btn-sm btn-success" (click)="goToOrganisations()">Edit organisations</button>
              </div>
            </div>
            <div class="card-body">
              <loadingIndicator [done]="orgLoadingComplete">
                <div class="row" *ngFor="let stat of orgStats">
                <div class="col-md-10">
                  {{stat.label}}
                </div>
                <div class="col-md-2">
                  {{stat.value}}
                </div>
              </div>
              </loadingIndicator>
              <br>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="card h-100">
            <div class="card-header text-white">
              Services
              <div class="pull-right">
                <button *ngIf="!allowEdit" type="button" class="btn btn-sm btn-info" (click)="goToServices()">View services</button>
                <button *ngIf="allowEdit" type="button" class="btn btn-sm btn-success" (click)="goToServices()">Edit services</button>
              </div>
            </div>
            <div class="card-body">
              <loadingIndicator [done]="serviceLoadingComplete">
                <div class="row" *ngFor="let serviceStat of serviceStats">
                  <div class="col-md-10">
                    {{serviceStat.label}}
                  </div>
                  <div class="col-md-2">
                    {{serviceStat.value}}
                  </div>
                </div>
              </loadingIndicator>
              <br>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card h-100">
            <div class="card-header text-white">
              Projects
              <div class="pull-right">
                <button *ngIf="!allowEdit" type="button" class="btn btn-sm btn-info" (click)="goToProjects()">View projects</button>
                <button *ngIf="allowEdit" type="button" class="btn btn-sm btn-success" (click)="goToProjects()">Edit projects</button>
              </div>
            </div>
            <div class="card-body">
              <loadingIndicator [done]="projectLoadingComplete">
                <div class="row" *ngFor="let proj of projectStats">
                  <div class="col-md-10">
                    {{proj.label}}
                  </div>
                  <div class="col-md-2">
                    {{proj.value}}
                  </div>
                </div>
              </loadingIndicator>
              <br>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card h-100">
            <div class="card-header text-white">
              Data sharing agreements
              <div class="pull-right">
                <button *ngIf="!allowEdit" type="button" class="btn btn-sm btn-info" (click)="goToDsa()">View data sharing agreements</button>
                <button *ngIf="allowEdit" type="button" class="btn btn-sm btn-success" (click)="goToDsa()">Edit data sharing agreements</button>
              </div>
            </div>
            <div class="card-body">
              <loadingIndicator [done]="dsaLoadingComplete">
                <div class="row" *ngFor="let dsa of dsaStats">
                  <div class="col-md-10">
                    {{dsa.label}}
                  </div>
                  <div class="col-md-2">
                    {{dsa.value}}
                  </div>
                </div>
              </loadingIndicator>
              <br>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card h-100">
            <div class="card-header text-white">
              Data processing agreements
              <div class="pull-right">
                <button *ngIf="!allowEdit" type="button" class="btn btn-sm btn-info" (click)="goToDpa()">View data processing agreements</button>
                <button *ngIf="allowEdit" type="button" class="btn btn-sm btn-success" (click)="goToDpa()">Edit data processing agreements</button>
              </div>
            </div>
            <div class="card-body">
              <loadingIndicator [done]="dpaLoadingComplete">
                <div class="row" *ngFor="let dpa of dpaStats">
                  <div class="col-md-10">
                    {{dpa.label}}
                  </div>
                  <div class="col-md-2">
                    {{dpa.value}}
                  </div>
                </div>
              </loadingIndicator>
              <br>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <div class="card h-100">
            <div class="card-header text-white">
              Datasets
              <div class="pull-right">
                <button *ngIf="!allowEdit" type="button" class="btn btn-sm btn-info" (click)="goToDataSets()">View datasets</button>
                <button *ngIf="allowEdit" type="button" class="btn btn-sm btn-success" (click)="goToDataSets()">Edit datasets</button>
              </div>
            </div>
            <div class="card-body">
              <loadingIndicator [done]="datasetLoadingComplete">
                <div class="row" *ngFor="let dataset of datasetStats">
                  <div class="col-md-10">
                    {{dataset.label}}
                  </div>
                  <div class="col-md-2">
                    {{dataset.value}}
                  </div>
                </div>
              </loadingIndicator>
              <br>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card h-100">
            <div class="card-header text-white">
              Cohort
              <div class="pull-right">
                <button *ngIf="!allowEdit" type="button" class="btn btn-sm btn-info" (click)="goToCohorts()">View cohort</button>
                <button *ngIf="allowEdit" type="button" class="btn btn-sm btn-success" (click)="goToCohorts()">Edit cohort</button>
              </div>
            </div>
            <div class="card-body">
              <loadingIndicator [done]="cohortLoadingComplete">
                <div class="row" *ngFor="let cohort of cohortStats">
                  <div class="col-md-10">
                    {{cohort.label}}
                  </div>
                  <div class="col-md-2">
                    {{cohort.value}}
                  </div>
                </div>
              </loadingIndicator>
              <br>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>
