<mat-card>
  <mat-card-header>
    <div mat-card-avatar><mat-icon>lightbulb_outline</mat-icon></div>
    <mat-card-title>Cohort details</mat-card-title>
    <mat-card-subtitle *ngIf="cohort.name">{{cohort.name}}</mat-card-subtitle>
    <mat-card-subtitle *ngIf="!cohort.name">New Cohort</mat-card-subtitle>
    <div fxFlex></div>
    <mat-menu #visualiseMenu="matMenu">
      <button *ngIf="allowEdit" mat-menu-item (click)="save(false)">Save</button>
      <button *ngIf="allowEdit" mat-menu-item (click)="save(true)">Save & close</button>
    </mat-menu>
    <div fxLayoutAlign="center" class="mat-action" matRipple>
      <mat-icon [matMenuTriggerFor]="visualiseMenu">more_vert</mat-icon>
    </div>
  </mat-card-header>
  <mat-card-content>
    <form class="form">
      <div class="form-group" #fgName="ngModelGroup" ngModelGroup="cohort" [class.has-error]="!fgName.valid">
        <div class="flex" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="16px grid" fxLayoutAlign="start">
          <mat-form-field appearance="outline" fxFlex="50" fxFill>
            <mat-label>Cohort name</mat-label>
            <input required matInput [(ngModel)]="cohort.name" placeholder="Cohort name" name="name">
          </mat-form-field>
          <div></div>
          <mat-form-field appearance="outline" fxFlex="50" fxFill>
            <mat-label>Description</mat-label>
            <textarea matInput rows="15" [(ngModel)]="cohort.description" placeholder="Cohort description" name="description"></textarea>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="50" fxFill>
            <mat-label>Technical definition</mat-label>
            <textarea matInput rows="15" [(ngModel)]="cohort.technicalDefinition" placeholder="Cohort technical definition" name="technicalDefinition"></textarea>
          </mat-form-field>
        </div>
        <br>
      </div>
      <mat-tab-group dynamicHeight>
        <mat-tab>
          <ng-template mat-tab-label>
            <span matBadge="{{dpas?.length}}" matBadgeOverlap="false" [matBadgeHidden]="dpas?.length < 1">Processing agreements</span>
          </ng-template>
          <app-generic-table #dpaTable
            [items]="dpas"
            [detailsToShow]="dpaDetailsToShow"
            [allowSelect]="allowEdit"
            (clicked)="dpaClicked($event)">
            <button role="selectionOnly" *ngIf="allowEdit" mat-icon-button color="warn" (click)="deleteDPAs()"><mat-icon>delete</mat-icon></button>
            <button *ngIf="allowEdit" mat-icon-button color="primary" (click)="addDPAs()"><mat-icon>add</mat-icon></button>
          </app-generic-table>
        </mat-tab>
      </mat-tab-group>
    </form>
  </mat-card-content>
</mat-card>
