<div class="module">
  <div class="container-fluid">
    <div class="module-heading">
      Data set details
      <div class="pull-right">
        <button *ngIf="allowEdit" type="button" class="btn btn-sm btn-success" (click)="save(false)">Save</button>
        <button *ngIf="allowEdit" type="button" class="btn btn-sm btn-warning" (click)="save(true)">Save & close</button>
        <button type="button" class="btn btn-sm btn-danger" (click)="close()">Cancel</button>
      </div>
    </div>
    <div class="module-body">
      <form>
        <fieldset [disabled]="!allowEdit">
          <legend>Data set</legend>
          <div class="row">
            <div class="form-group col-md-12">
              <label class="control-label">Data set name</label>
              <input type="text" class="form-control" placeholder="Data set name" [(ngModel)]="dataset.name" name="name">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <label class="control-label">Data set description</label>
              <textarea type="textarea" rows="20" class="form-control" placeholder="Data Set description" [(ngModel)]="dataset.description" name="description"></textarea>
            </div>
          </div>
        </fieldset>

        <ngb-tabset>
          <ngb-tab>
            <ng-template ngbTabTitle><span class="tab-title">Data processing agreements </span><span class="badge badge-pill badge-primary">{{dpas?.length}}</span></ng-template>
            <ng-template ngbTabContent>
              <entity-viewer
                (onshowPicker)="editDataProcessingAgreements()"
                [items]="dpas"
                [primary]="'name'"
                [primaryOrderText]="'Name'"
                [displayClass]="'region'"
                [secondary]="'description'"
                [secondaryOrderText]="'Description'"
                [typeDescription]="'Data processing agreement'"
                [model]="'dpa'"
                [detailsToShow]="dpaDetailsToShow"
                [allowEdit]="allowEdit"
                [showEditButton]="allowEdit">
              </entity-viewer>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </form>
      <br>
      <br>
    </div>
  </div>
</div>
