<mat-card *ngIf="dataset">
  <mat-card-header>
    <div mat-card-avatar>
      <i class="fad fa-layer-group"></i>
    </div>
    <mat-card-title>Data set details</mat-card-title>
    <mat-card-subtitle *ngIf="dataset.name">{{dataset.name}}</mat-card-subtitle>
    <mat-card-subtitle *ngIf="!dataset.name">New Data Set</mat-card-subtitle>
    <div fxFlex></div>
    <div fxLayoutAlign="center" class="mat-action" matRipple (click)="editDataset()">
      <i class="fas fa-fw fa-pencil"></i>
    </div>
  </mat-card-header>
  <mat-card-content>
    <form class="form" #f="ngForm" novalidate>
      <div class="form-group" #fgName="ngModelGroup" ngModelGroup="organisation" [class.has-error]="!fgName.valid">
        <div class="flex" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="16px grid" fxLayoutAlign="start">
          <div fxFlex="50" fxFill>
            <div class="flex" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="16px grid" fxLayoutAlign="start">
              <mat-form-field appearance="outline" fxFlex="100" fxFill mat-readonly>
                <mat-label>Data set name</mat-label>
                <input matInput [(ngModel)]="dataset.name" placeholder="Data set name" name="name" readonly>
              </mat-form-field>
              <mat-form-field appearance="outline" fxFlex="100" fxFill mat-readonly>
                <mat-label>Description</mat-label>
                <textarea matInput rows="15" [(ngModel)]="dataset.description" placeholder="Data set description"
                          name="description" readonly></textarea>
              </mat-form-field>
            </div>
          </div>
          <div fxFlex="50" fxFill>
            <div class="flex" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="16px grid" fxLayoutAlign="start">
              <mat-form-field appearance="outline" fxFlex="100" fxFill mat-readonly>
                <mat-label>Technical definition</mat-label>
                <textarea matInput style="height:300px" [(ngModel)]="dataset.technicalDefinition"
                          placeholder="Data set technical definition" name="technicalDefinition" readonly></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
        <br>
      </div>
    </form>
    <mat-tab-group dynamicHeight>
      <mat-tab>
        <ng-template mat-tab-label>
          <span matBadge="{{processingAgreements?.length}}" matBadgeOverlap="false" [matBadgeHidden]="processingAgreements?.length < 1">Processing agreements</span>
        </ng-template>
        <app-generic-table #dpaTable
                           [items]="processingAgreements"
                           [detailsToShow]="processingAgreementsDetailsToShow"
                           [allowSelect]="allowEdit"
                           (clicked)="processingAgreementClicked($event)">
          <button role="selectionOnly" *ngIf="allowEdit" mat-icon-button color="warn" (click)="deleteDPAs()"><mat-icon>delete</mat-icon></button>
          <button *ngIf="allowEdit" mat-icon-button color="primary" (click)="addDPAs()"><mat-icon>add</mat-icon></button>
        </app-generic-table>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
